#loginBox{
    position: absolute;
    width: 30vw;
    height: 50vh;
    top: 25vh;
    left: 35vw;
    background-color: white;
    border-radius: 25px;
    border: 2px solid gray;
    text-align: center;
    box-shadow: 4px 3px 3px gray;
}


#kitsuneTitle{
    position: absolute;
    top: 10px;
    left: 3vw;
    color: white;
}

#loginNuevoRegistro{
    position: absolute;
    top: 15vh;
    left: 15vw;
}
#usernameInput{
    position: relative;
    border-radius: 25px;
    top: 17vh;
}

#passwordInput{
    position: relative;
    border-radius: 25px;
    top: 19vh;
}

#loginTitle{
    position: relative;
    color: orange;
    display: inline-block;
    top: 8vh;
    text-shadow: 0vmax;
    
}

#loginSubmitBtn{
    position: relative;
    top:21vh;
    left:12vw;
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-weight: 700;
    border: 1px solid black;
}

#failedAuth{
    color: red;
    position: absolute;
    top: 350px;
    left:560px;
}

#loginCancelBtn{
    position: relative;
    top: 21vh;
    left: 3vw;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: 700;
    border: 1px solid black;
    display: inline-block;
}

#solicitudPeticionDiv{
    width: 100vw;
    height:25vh; 
    background-color: rgb(255, 190, 69);
    display: flexbox;
    border: 2px solid gray;
}

#solicitudOrigin{
    position: relative;
    border-radius: 10px;
    width: 250px;
    cursor: pointer;
    left: 5vw;
    top: 10vh;
}

#solicitudDestino{
    position: relative;
    border-radius: 10px;
    width: 250px;
    cursor: pointer;
    left: 5vw;
    top: 10vh;
    margin-left: 3vw;
}
body {
    color: #404040;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}



.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-uber,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

}

#solicitudPrecio{
    position: relative;
    border-radius: 10px;
    width: 150px;
    left: 5vw;
    top: 10vh;
    margin-left: 3vw;
}

#solicitudCancelBtn{
    border-radius: 10px;
    position: relative;
    background-color: red;
    color: white;
    font-weight: 700;
    left: 20vw;
    top: 10vh;
}

#solicitudHacerBtn{
    border-radius: 10px;
    position: relative;
    background-color: gray;
    color: white;
    font-weight: 700;
    left: 20vw;
    top: 10vh;
}

#mensajeEspera{
    position: relative;
    color: gray;
    top: 25vh;
}

#esperaRegresarBtn{
    position: absolute;
    top: 45vh;
    right: 49vw;
}

#calificaViajeMsj{
    position: relative;
    color: gray;
    top: 25vh;
    left: 45px;
}

#calificarBtn{
    position: relative;
    top: 30vh;
}

#calificarOmitirBtn{
    position: relative;
    top: 30vh;
    margin-left: 10px;
}

#calificacionInput{
    position: relative;
    top:27vh;
}


.topNav{
    background-color: orange;
    color: white;
    position: absoute;
    width: 100vw;
    height: 7vh;
    text-align: right;
    padding: 1%;
}

.navElement{
    display: inline-block;
    margin-left: 7px;
    font-weight: 600;
}

.blink_me {
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.3;
    }
  }

.hidden-element{
    visibility: hidden;
}

/*GOOGLE MAPS API MAPS*/
/**
 * @license
 * Copyright 2019 Google LLC. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
/** 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #mapsDiv {
    height: 70vh;
    width: 100vw;
    display:  flexbox;
  }
  
  #response-container {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    overflow: auto;
    max-height: 50%;
    max-width: 90%;
    font-size: small;
  }

