#loginBox{
    position: absolute;
    width: 30vw;
    height: 50vh;
    top: 25vh;
    left: 35vw;
    background-color: white;
    border-radius: 25px;
    border: 2px solid gray;
    text-align: center;
    box-shadow: 4px 3px 3px gray;
}

#usernameInput{
    position: relative;
    border-radius: 25px;
    top: 15vh;
}

#passwordInput{
    position: relative;
    border-radius: 25px;
    top: 17vh;
}

#loginTitle{
    position: relative;
    color: orange;
    display: inline-block;
    top: 8vh;
    text-shadow: 0vmax;
    
}

#loginSubmitBtn{
    position: relative;
    top:19vh;
    left:12vw;
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-weight: 700;
    border: 1px solid black;
}

#loginCancelBtn{
    position: relative;
    top: 19vh;
    left: 3vw;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: 700;
    border: 1px solid black;
    display: inline-block;
}

#kitsuneTitle{
    position: absolute;
    top: 10px;
    left: 3vw;
    color: white;
}

#loginNuevoRegistro{
    position: absolute;
    top: 15vh;
    left: 15vw;
}

.topNav{
    background-color: orange;
    color: white;
    position: absoute;
    width: 100vw;
    height: 7vh;
    text-align: right;
    padding: 1%;
}

.navElement{
    display: inline-block;
    margin-left: 7px;
    font-weight: 600;
}
